div {
    display: flex;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    border-radius: 10px;
    box-sizing: border-box;
}

section {
    margin: 0 10px;
    padding: 15px;
    border-radius: 10px;
}

section:first-of-type {
    margin-right: 15px;
}

section:last-of-type {
    margin-left: 15px;
}

button {
    margin: 7px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}
.upper-row-block {
    margin: 10px;
    padding: 10px;
    border-style: solid;
}

#upper-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

#bank {
    text-align: center;
    border-color:green;
    border-style: solid;
}

#work {
    text-align: center;
    border-color:green;
    border-style: solid;
}


#laptop-selector {
    border-color:green;
    border-style: solid;
}

#laptop-picture {
    background-color:white;
    border: 3px;
    border-color: black;
    border-style: solid;
    margin: 10px;
}


#lower-row {
    border-color: blue;
    background-color: bisque;
    border-style: solid;
    margin: auto;
    width: 75%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#navbar {
    background-color: rgb(237, 162, 240);
}

#repay-loan {
    width: 30%;
    margin: auto;
    justify-content: center;
}